<div class='container'>
  <h1>AVAILABLE SERVICES IN LONDON</h1>
  <div class='cards'>

    <% @services.each do |service| %>
     
      <div class='card'>
        <%= service.trainer.email %>
        <%= service.details %>
        <%= service.price_per_hour %>
        <%= service.service_address %>
      </div>

    <% end %>

  </div>
</div>

