<head>
  <link href="https://fonts.googleapis.com/css?family=Days+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<h1>AVAILABLE SERVICES IN LONDON</h1>

  <% @services.each do |service| %>
    <ul>
      <li><%= service.trainer.email %></li>
      <li><%= service.details %></li>
      <li> <%= service.price_per_hour %></li>
      <li><%= service.service_address %></li>
    </ul>
  <% end %>



 <div class="contents">
  <div class="centre">
    <div class="top-rated">
      <h3 class="trainers_title">Available Trainers in London</h3>
      <div class="trainers">
        <div class="trainer1">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614424257/cycling2_1_gqlrop.jpg">   
            <h3 class="trainer_name">Gillis Rikardsson</h3>
            <p class="trainer_description">Spin Classes</p>
          </a> 
        </div>
        <div class="trainer2">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614423879/trainer_zavqtc.jpg"> 
            <h3 class="trainer_name">Oday Abu Saleh</h3>
            <p class="trainer_description">Crossfit trainer.</p>
          </a>
        </div>
        <div class="trainer3">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614384771/Mask_Group_lphqhh.jpg">   
            <h3 class="trainer_name">Roberto Silva</h3>
            <p class="trainer_description">Train with me at your own risk.</p>
          </a>
        </div>
        <div class="trainer4">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614886871/Mask_Group_mt7fbx.jpg">   
            <h3 class="trainer_name">George Ellery-Masson</h3>
            <p class="trainer_description">Boxing Training.</p>
          </a> 
        </div>
        <div class="trainer5">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614886870/image_16_dtzeqo.jpg"> 
            <h3 class="trainer_name">Julio Quintana</h3>
            <p class="trainer_description">Lead Gains Teacher.</p>
          </a>
        </div>
        <div class="trainer6">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614886871/image_17_ztojgm.jpg">   
            <h3 class="trainer_name">Marco Ranieri</h3>
            <p class="trainer_description">Bella Gains.</p>
          </a>
        </div><div class="trainer7">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614886872/image_18_cssxza.jpg">   
            <h3 class="trainer_name">Boris Paillard</h3>
            <p class="trainer_description">Bonjour London!</p>
          </a> 
        </div>
        <div class="trainer8">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614886872/image_19_y7fdui.jpg"> 
            <h3 class="trainer_name">Michael Jackson</h3>
            <p class="trainer_description">Hee Hee.</p>
          </a>
        </div>
        <div class="trainer9">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614886871/image_20_g94lbc.jpg">   
            <h3 class="trainer_name">Boris Johnson</h3>
            <p class="trainer_description">Lockdown Gains for the nation.</p>
          </a>
        </div><div class="trainer10">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614886871/image_21_ax4aue.jpg">   
            <h3 class="trainer_name">Harry Potter</h3>
            <p class="trainer_description">Training for Muggles.</p>
          </a> 
        </div>
        <div class="trainer11">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614886871/image_22_nrb452.jpg"> 
            <h3 class="trainer_name">Clark Kent</h3>
            <p class="trainer_description">Definitely not Superman.</p>
          </a>
        </div>
       <div class="trainer12">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614886871/image_23_mfpur9.jpg">   
            <h3 class="trainer_name">Albus Dumbelldore</h3>
            <p class="trainer_description">Gains can be found,even in the darkest times,if one only remebers to turn on the light.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>