<div class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <div class="booking-bg">
            <div class="form-header">
              <h1 class="text1"> Change your booking </h1>
              <p class="confirmation"> A confirmation e-mail will be sent to you once the Spotter accepts the
                changes </p>
            </div>
          </div>
          <div class="whitebox">
            <div class="form-booking-style">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group ">
                    <%= simple_form_for [@service, @booking] do |f| %>
                      <%= f.input :start_date, as: :datetime, required: false, input_html: { class: "datetimepicker" } %>
                      </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <%= f.input :end_date, as: :datetime, required: false, input_html: { class: "datetimepicker" } %>
                        </div>
                      </div>
                      </div>
                      <div class="form-btn">
                        <%= f.submit "Submit Changes", class: "btn btn-dark" %>
                    <% end %>
                    </div>
                    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>