<div class="tennis-img">
<div class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="booking-bg">
							<div class="form-header">
								<h1 class="spot">WELCOME TO SPOT</h1>
                                <h4 class="spotter">Your Spotter <%= @booking.service.trainer.first_name %> will contact you soon to help you start a new chapter in your life.</h4>
							</div>
						</div>
							<div class="form-booking-style">
							<div class="row">
								<div class="col-md-12 showbooking">
									<div class="form-group ">
										<h1>Booking Confirmed</h1>
                                        <p>A confirmation has been sent to your e-mail</p>
										<div class="btn btn-dark ">
											<%= link_to "My bookings", my_bookings_path, class:"text-white" %>
										</div>

									</div>
								</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
</div>
</div>
  <div class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="booking-form">
            <div class="booking-bg">
              <div class="form-header">
                <h1 class="spot">WELCOME TO SPOT</h1>
                <h4 class="spotter">Your Spotter <%= @booking.service.trainer.first_name %> will contact you soon to
                  help you start a new chapter in your life.</h4>
              </div>
            </div>
            <div class="form-booking-style">
              <div class="row">
                <div class="col-md-12 showbooking">
                  <div class="form-group ">
                    <h1>Booking Confirmed</h1>
                    <p>A confirmation has been sent to your e-mail</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

