<div class="footer-clean">
  <footer>
   <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <h3><a href="#">Services</a></h3>
          <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Community</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <h3><a href="#">About</a></h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Our Mission</a></li>
          </ul>
        </div>
        <div class="col-lg-3 item social"><a href="#"><i class="fab fa-facebook"></i></a><a href="https://twitter.com/gellery2395" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://www.instagram.com/spot_476/" target="_blank"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-youtube"></i></a>
          <p class="copyright">SPOT © 2021</p>
        </div>
      </div>
    </div>
  </footer>
</div>