
 <nav>
  <div class="centre">
    <div class="nav-left">
     <div class="nav-logo">
       <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614432256/nav_logo_ogyoqc.jpg">
     </div>
     
     <ul class="menu-wrap">
      <li>Menu</li>
      <li>Menu</li>
      <li>Menu</li>
      <li>Menu</li>
     </ul>
    </div>
    <div class="nav-right">
     <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614432870/account_icon_2_vvsgnd.jpg">
      <%# avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
      <%#= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
    </div>
     
  </div>
 </nav>