.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-black {
  background-color: grey;
}


.centre {
  overflow: hidden;
}


.nav-left {
  float: left;
}

.nav-right {
  float: right;
  line-height: 67px;
}

.nav-right img {
  height: 40px;  
}

.nav-logo {
}


.menu-wrap {
 line-height: 67px;
 margin-bottom: 0;
}

.nav-logo, .menu-wrap {
 float: left;
}

.menu-wrap li {
  float: left;
  list-style: none;
  margin-right: 36px;
}

.menu-wrap li:last-child{
  margin-right: 0;
}

