
.centre {
  overflow: hidden;
}


.nav-left {
  float: left;
}

.nav-right {
  float: right;
  margin-top: 13px;
}

.nav-right img {
  height: 40px;  
}


.menu-wrap {
 line-height: 67px;
 margin-bottom: 0;
}

.nav-logo, .menu-wrap {
 float: left;
}

.menu-wrap li {
  float: left;
  list-style: none;
  margin-right: 36px;
}

.menu-wrap li:last-child{
  margin-right: 0;
}

