
.review-button{
text-align: center;
}

.button-wrapper {
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.button-animated {
  background: #2B2D2F;
  height: 80px;
  width: 200px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
}

.text-animated {
  color: white;
  font: bold 1.25rem/1 poppins;
  position: absolute;
  top: 50%;
  transform: translateY(-52%);
  left: 0;
  right: 0;
  font-family: "Days One";
}

.progress-bar {
  position: absolute;
  height: 10px;
  width: 0;
  right: 0;
  top: 50%;
  left: 50%;
  border-radius: 200px;
  transform: translateY(-50%) translateX(-50%);
  background: #505357;
}

svg {
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  right: 0;
}

.check {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.hidden {
  visibility: hidden;
}

.fa-star {
  color: yellow;
  cursor: pointer;
  padding: 10px;
}

.selected ~ .fa-star {
  color: grey;
}

.fa-star.hidden {
  display: none;
}

#rating {
    height: 1px;
    padding: 0;
    position: absolute;
}

.star-rating{
  position: relative;
  padding-bottom: 50px;
}

.review-card{
  padding: 1.25rem;
  //border: 1px solid hsl(0, 0%, 40%);
  overflow: hidden;
  //background: white;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-content: center;
  text-align: center;
  //display: contents;
  font-family: 'Days One';
  padding-bottom: 50px;
}

.review-form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.review-card h4{
  font-family: "Days One", serif;
}


textarea.form-control {
  height: auto;
  width: 100%;
  line-height: 40px;
}
