.yoga-img{
    background: asset_url('yoga.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    position: absolute;
}


.booking-product {
    overflow: hidden;
    height: 300px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  .mybooking{
      text-align: center;
      margin-bottom: 30px;
      color:white;
      background: rgba(0, 0, 0, 0.9);
      padding: 40px;
      width: 400px;
      border-radius: 5px;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
  }

  .booking-product img{
    width: 400px;
    height: 100%;
    object-fit: cover;
    margin-right: 24px;
    padding: 30px 50px;
    
  }

  .booking-product-infos{
      padding-left:80px;
      
  }

 .cancel-edit{
   text-align: end;
 }

 .pending{
   padding-bottom: 20px;
   text-align: end;
 }

 .price{
   text-align: end;
 }