.background-login{
    background: asset_url('basketball.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
	  opacity: 0.9;
	  // position: absolute;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.links{
  margin-bottom: 20px;
}

.btn:hover{
  color: white;
}


.account-login{
  color: white;
  font-size: 4em;
}

.email {
  color: white;
}

.password{
  color: white;
}

.form-check{
  color: white;
}

.links{ 
  a{
    color: white;
  }
}

.my-bookings{
  margin-left: 93px;
}

.input-login{
  border-radius: 20px;
}