.background-login{
    background: asset_url('bolt.jpg');
    width: 100%;
    height: 100vh;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Opens-sans';
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.links{
  margin-bottom: 20px;
}

.btn:hover{
  color: white;
}

