.rope-img{
	background: asset_url('dumbell.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
	opacity: 0.9;
	//position: absolute;
}


.section {
	position: relative;
	height: 100vh;
}


.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.booking-form {
	font-family: 'Days One';
	position: relative;
	background: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}

.booking-form .booking-bg {
	position: absolute;
	top: -3.125em;
	bottom: -25px;
	width: 28em;
    height: 31em;
	padding: 25px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.booking-form .booking-bg::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.9);
}

.booking-form .form-booking-style {
    margin-left: auto;
    margin-right: auto;
    width: 64em;
    height: 25em;
    padding-left: 470px;
    padding-right: 18px;
    padding-top: 60px;

}

.booking-form .form-header {
	margin-bottom: 10px;
	margin-top: 10px;
	position: relative;
	z-index: 20;
}

.booking-form .form-header p {
	color: #fff;
	font-size: 18px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 45px;
	padding: 0px 15px;
	color: #151515;
	border: 1px solid #e5e5e5;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 20px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
    width: 140px;
}

.booking-form .form-btn {
	margin-top: 30px;
}

.text1{
    color: white;
    padding-top: 30px;
	text-align: center;
}

.text2{
    text-align: left;
    padding-top: 20px;
    color: white;
	font-size:1.8em;
}

.form-group {
    color: black;
    font-weight: bolder;
}

.btn{
    padding: 10px 20px;
}








