.sign-up-card{
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    width: 700px;
    height: 780px;
    margin-left: 0;
    // margin-right:400x;
    justify-content: center;
    margin-top: 60px;
    
}

h2{
    padding-top:20px;
    text-align: center;
    color:black;
    font-family: 'Days-one'; 
}

.text-class{
    color:black;
    font-family: 'Open-sans';
}

.img{
    background-image:url(run.jpg);
    background-repeat: no-repeat;
    width: 700px;
    height: 780px;
    margin-top: 60px;
    margin-left: 305px;
    margin-right:auto;
    
}

