.yoga-img{
    background: asset_url('yoga.jpg');
    background-repeat: no-repeat;
    //width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    //position: absolute;
  min-height: 120vh;
}

.card-product {
    overflow: hidden;
    height: 300px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    margin-top: -90px;
  }
  
  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  
  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-product .card-product-infos {
     padding: 16px;
  }

  .mybooking1{
      text-align: center;
      margin-top: 80px;
      margin-bottom: 30px;
      color:white;
      background: rgba(0, 0, 0, 0.9);
      padding: 40px;
      width: 450px;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;

  }

  .pendingbookings{
    text-align: end;
    font-size: 1.4em;
    font-family: "Open Sans", serif;
    text-align: inherit;
    font-weight: bold;
    color: #ff1e1e;
   }

   .request-button{

      a{
          color: white;
      }
   }

   .confirmbutton{
       color:white;
       font-weight: bold;
       padding: 10px 10px;
       margin: 10px;
   }

   .brequest-button{
    text-align: end;
     margin-bottom: 26px;
   }

   .confirmbooking{
    font-size: 1.2em;
   }