<div class= "container">
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :description %>
    <%= f.input :rating, collection: [1, 2, 3, 4, 5], label: false, input_html: {id:"rating"}%>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>



