
<div class="home-banner">
  <div class="banner-image" style="background-color: #010101; url(); background-position: center; background-size: cover; height: 250px;">
    <div class="banner-text">
      <h3>LEAVE A REVIEW</h3>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 30px">
  <div class="row">
    <div class="col-sm-4">
      <%= render 'shared/card', service: @booking.service %>
    </div>
    <div class="col-sm-8">
      <%= render 'shared/review_card', service: @booking.service %>
    </div>
  </div>
</div>


<link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">


